* {
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--paletteColor2);

    font-family: roboto mono, roboto, system-ui;
    font-smoothing: antialiased;
    font-variant-ligatures: none;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    min-height: 100vh;

    & section {
        width: 100%;
    }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    & main {
        flex: 1 0 auto;
    }

    & footer {
        flex: 0 0 auto;
    }
}
